@import url(http://fonts.googleapis.com/css?family=Lato:400,300,700);

body {
    position: relative;
    height: 100%;
    min-height: 100%;
}
body * {
    font-family: proxima-nova, Lato, georgia, Sans-serif !important;
}
.pin-bottom {
    margin: 0;
}
#preview, #journal {
    max-width: 600px;
}

#input-box {
    min-height: 100px;
    width: 100%;
}

.spacey {
}

.metadata_ {
    font-size: small;
    color: #aaa;
}

.metadata {
    text-align: right;
    border-bottom: 1px #efefef solid;
    margin: 12px auto;
    color: #999;
    background: white;
    line-height: 0;
}
.metadata span {
    background: white;
    padding-left: 20px;
    position: relative;
}

.metadata i {
    position: absolute;
    top: 1px;
    opacity: 0.4;
}

.hide-date h2.date-title {
    display: none;
}

h2 {
    font-family: freight-sans-pro !important;
}
