<!doctype html>
<html>
<head>
    <title>Journal.</title>
    <script src="static/js/zepto.min.js"></script>
    <script src="static/js/markdown.js"></script>
    <script src="static/js/journal.js"></script>

    <link href="static/bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="static/css/proxima-nova.css" rel="stylesheet">
    <link href="static/css/journal.css" rel="stylesheet">
</head>

<body>
  <div class="container spacey">

    <div id="top"> </div>

    <!-- this tag gets replaced -->
    <div id="template" style="display:none">
      <article class="type-{{type}} {{class}}" id="t{{datetime}}">
        <h2 class="date-title">{{date}}</h2>
        <div class="metadata"><span>{{time}} &middot; {{place}} <!-- &middot; <a href="#t{{datetime}}"><i class="icon-fire"></i></a>--></span></div>
        <p class="text">{{text}}</p>
      </article>
    </div>

    <div id="journal" class="span6">
    </div> <!-- journal -->

    <div id="preview" class="span6"> </div>
    <div id="bottom"> </div>
  </div>

  <form class="well container-fluid pin-bottom">
    <div class="container">
      <div class="span6">
        <textarea name="text" id="input-box"></textarea>
        <div style="text-align:right">
          <span style="float: left" class="input-prepend">
            <span class="add-on"><i class="icon-map-marker"></i></span><input type="text" id="place" placeholder="Your location (Loading...)" name="place"></input>
          </span>
          <input type="checkbox" id="preview-flag"> Live
          <a class="btn" id="preview-btn"><i class="icon-eye-open"></i> Preview</a>
          <a class="btn" id="submit-btn"><i class="icon-plus"></i> Add to journal</a>
        </div>
      </div>
    </div>
  </form>

</body>

</html>
